.centro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}